{% extends 'core/base.html' %}
{% block title %}Reportes en Tarjetas de Credito{% endblock %}
{% block informacionTabla %}Listado de las compras realizadas con tarjeta de credito{% endblock %}
{% block tablatitle  %}Reportes en efectivo{% endblock %}

<!--- Contenido de las tablas, titulos de cabecera y pie de la tabla-->

{% block cabeceraTabla %}

<tr>
    <th>Id Compra</th>
    <th>Id Cliente</th>
    <th>Cliente</th>
    <th>Id Empresa</th>
    <th>Empresa</th>
    <th>Codigo Motorizado</th>
    <th>Subtotal</th>
    <th>Total</th>
    <th>Costo Entrega</th>
    <th>Direccion</th>



</tr>

{% endblock %}




<!--- Contenido de las tablas, informacion recuperada de la base de datos con el objeto empresa-->

{% block datosTabla %}
{% for i in reportes %}
    <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
        <td>{{i.7}}</td>
        <td>{{i.8}}</td>
        <td>{{i.9}}</td>
        <td>{{i.10}}</td>
    </tr>
{% endfor %}
{% endblock %}